:root {
    --Amarillo: #EAC926;
    --Azul: #03264C;
    --Celeste: #1259c3;
    --GrisOscuro: #666;
    --GrisClaro: #ebebeb;
    --Verde: #39b54a;
}

/* modificando el main */
.banner{
    width: 100vw;
    margin-left: -5vw;
    margin-bottom: 30px;
}
main{
    font-size: 16px;
    text-align: center;

}

main div{
    margin-bottom: 10px;

}
.categorias, .foto{
    
    display: block;
    margin-bottom: 5px;
    font-weight: 700;
    width: 50%;
    margin: auto;
    text-align: left;
}
.fecha-nac, .perfil-usuario{
    display: block;
    margin-bottom: 5px;
    font-weight: 700;
    width: 50%;
    margin: auto;
}
.radio{
    padding-right: 30px;
}
.checkbox{
    margin: auto;
    width: 50%;
    text-align: left;
    margin-bottom: 5px;
}

.file{
    margin: auto;
    text-align: center;
    width: 95%;
}
.input{
    width: 70%;
    box-sizing: border-box;   
}

.input:hover{
    background-color: rgb(201, 200, 200);
}
button:hover{
    background-color: #0022AA;
    color:white;
}

@media(min-width:400px){
    .file{
        width:50%;
    }
    .checkbox{
        width:35%;
    }
}

@media(min-width:769px){
    .input{
        width: 50%;
    }
}
